{% load team_tags %}
{% if request.team and request.user|is_admin_of:request.team %}
  <li class="nav-item">
      <a href="{% url 'web:team_admin' request.team.slug %}" class="nav-link {% if active_tab == 'team-admin' %}active{% endif %}">
          <span class="icon"><i class="fa fa-gear"></i></span><span class="is-hidden-tablet-only">Admin</span>
      </a>
  </li>
  <li class="nav-item">
      <a href="{% url 'subscriptions:team_subscription_demo' request.team.slug %}" class="nav-link {% if active_tab == 'subscription_demo' %}active{% endif %}">
          <span class="icon"><i class="fa fa-desktop"></i></span><span class="is-hidden-tablet-only">Subscription Demo</span>
      </a>
  </li>
  <li class="nav-item">
      <a href="{% url 'subscriptions:team_subscription_details' request.team.slug %}" class="nav-link {% if active_tab == 'subscription' %}active{% endif %}">
          <span class="icon"><i class="fa fa-repeat"></i></span><span class="is-hidden-tablet-only">Subscription</span>
      </a>
  </li>
{% endif %}
