<div class="row">
  <div id="profile-picture" class="col-md-3">
    <div>
      <img class="avatar" src="{{ user.avatar_url }}">
      <div id='profile-upload-holder' class="text-center">
        <label for="profile-upload" id="profile-upload-label" class="btn btn-link">
          Change Picture
        </label>
        <input id="profile-upload" type="file" accept="image/*"/>
      </div>
    </div>
  </div>
  <div class="col-md">
    <h3>My Details</h3>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Email</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <div class="mb-3">
        <label class="form-label">First Name</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
      </div>
      <input class="btn btn-primary" type="submit" value="Save">
    </form>
  </div>
</div>
